$background_color: #282828;
$textcolor: #cecece;
.profile-page
{
    background-color: #2f2f2f;
    min-height: calc(100vh - 60px);
    .head{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 20px;
        margin-bottom: 20px;
        height: 160px;
        .img-contain{
            display: flex;
            justify-content: center;
            img{
                width: 115px;
                height: 115px;
                border-radius: 50%;
                border: #ffffff solid 2px;
            }
        }

        .info{
            margin-top: 10px;
            color: $textcolor;
            h2{
                font-size: 24px;
            }
            .collection{
                margin-top: 15px;
                margin-left: 3px;
                display: flex;
                justify-content: space-between;
                width: 130px;
                div{
                    p{
                        font-size: 14px;
                        margin-top: -5px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .my-notes{
        position: relative;
        background-color: $background_color;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px 30px 0 0;
        padding: 40px 0;
        min-height: calc(100vh - 180px - 60px); // 100vh - (profile info + margin ) - navabar height
        gap: 10px;

        .notes{
            background-color: $textcolor;
            padding: 0 30px;
            border-radius: 5px;
            position: absolute;
            top:-10px;
            margin-bottom: 20px;
        }
    }
}