$textcolor:#ffffff;
$highligh_color: #ffa113;
.sharenote-page{

    background-color: #282828;
    .form{
        padding-top: 35px;
        margin: 0px 71px 0 71px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;
        
        .title{
            padding-top: 30px;
            .test{
                width: 50px;
                height: 50px;
                scale: 5;
                object-fit: cover;
                position: relative;
            }
            text-align: center;
            // color: $textcolor;
        }
        
        .contain1{

            position: relative;

            p{
                color: $textcolor;
                margin-bottom: 10px;
            }

            input{
                margin-left: 2px;
                width: 98%;
                border: rgb(220, 219, 219) 1px solid;
                box-shadow: 1px 1px 2px $textcolor;
                border-radius: 12px;
                padding: 5px 0;
                padding-left: 10px;
                background-color: rgb(220, 220, 220);
                background-color: white;
            }

            textarea{
                border: rgb(220, 219, 219) 1px solid;
                box-sizing: border-box;
                display: block;
                border-radius: 12px;
                box-shadow: 1px 1px 2px #888888;
                height: 300px;
                width: 100%;
                padding: 10px;
                resize: none;
            }

            .box{
                background-color: rgb(233, 233, 233);
                max-height: 120px;
                overflow: auto;
                border-radius: 0 0 5px 5px;
                width: 242px;
                position: absolute;
                top:100%;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 2px;
                z-index: 1;

                .subject-menu{
                    cursor: pointer;
                    padding: 5px 5px;
                }
            }
        }
        
        .file-contain{
            input{
                background-color: $textcolor;
                padding: 5px 0;
                padding-left: 20px;
                border-radius: 12px;
                width: 248px;
            }
            p{
                margin-bottom: 10px;
                color:$textcolor;
            }
            ::-webkit-file-upload-button{
                background-color:#a0a0a0;
                color: $textcolor;
                border: none;
                border-radius: 10px;
                padding: 5px 10px;
            }
        }
        
        .exam-year{
            color: $textcolor;
            .flex-row{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                .to-ddsl
                {
                    width: 120px;
                    p{
                        font: 16px;
                        font-weight: 200;
                    }
                }
            }
        }
        
        .button-submit{
            background-color: $highligh_color;
            color: $textcolor;
            margin-top: 10px;
            font-weight:bold;
            font-size: 15px;
            border: 0;
            border-radius: 20px;
            width: 114px;
            padding: 8px 0;
            display: grid;
            place-items: center;
        }
    
        }
}