.nav-container{
    background-color: #2a3458;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10px 0 10px;
}

.nav-element{
    cursor: pointer;
    color: white;
}

.nav-profile{
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}

.nav-logo{
    height: 100%;
    width: 12vh;
    scale: 1.4;
}

.nav-menu{
    background-color: rgb(250, 235, 215,0.6);
    width: 100vw;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.nav-link{
    text-decoration: none;
}

.nav-dropdown{
    position: absolute;
}