$maincolor: #172A6C;
$dropdown_color: rgb(250, 235, 215,0.9);

.nav-container{
    background-color: $maincolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px 0 10px;
    position: relative;
    
    .nav-element{
        cursor: pointer;
        color: white;

    }

    .nav-profile{
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .nav-logo{
        height: 90px;
        width: 106px;
        scale: 1;
        position: relative;
        left: 5px;
    }
}


.nav-dropdown{
    background-color: $dropdown_color;
    position: absolute;
    color: rgb(4, 4, 3);
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;

    
    &.inactive{
        opacity: 0;
        visibility: hidden;
        transition: 200ms ease;
    }

    &.active{
        opacity: 1;
        visibility: visible;
        padding: 10px 0;
        transition: 200ms ease;
    }

    .nav-link{
        text-decoration: none;
    }

    .nav-menu{
        width: 100vw;
        height: 60px;
        display: grid;
        place-items: center;
        cursor: pointer;

    }

}

