$card_color: #343434;
$textcolor:#ffffff;
// #3b3b3b

.card-container{
    display: grid;
    grid-template-columns: 4fr 4fr;
    margin: 3px;
    border-radius: 10px;
    background-color: $card_color;
    cursor: pointer;
    width: 360px;
    height: 210px;
    
    .pic-box{

        display: flex;
        justify-content: center;
        align-items: center;

        img{
            border-radius: 10px;
            width: 162px;
            height: 189px;
            object-fit: cover;
        }
    }

    .info-box{
        margin-top: 15px;
        margin-left: 8px;
        color: $textcolor;
        div{
            display: flex;
            margin-top: 7px;
        }
        h3{
            margin-right: 10px;
            font-size: 15px;
        }
        p{
            font-size: 10px;
        }
        img{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin: 0 5px 0 5px;
            border: 1px solid black;
        }
        .icon{
            margin-top: 0px;
            margin-right: 5px;
        }
    }
}